# config_synonym_tree.yaml
experiment_name: synonym_tree_rhm_1911_big_test
seed: 123
device: cpu

dataset:
  name: synonym_tree          # <--- use new dataset
  # hierarchy shape
  L: 3
  m: 4
  s: 6
  # sizes (can be a list to train on multiple sizes)
  n_train: [10000]  #[128, 512,1024, 2048, 3072, 5120, 7168, 8192, 12288, 16384,18432, 22528,28672, 32768]        # will train on both 10 and 100 training samples
  n_val: 2000
  n_test: 5000
  # nuisance
  distractor_dims: 256
  distractor_prob: 0.01
  label_noise: 0.0

model:
  widths: [256, 256, 256]
  activation: relu  # Options: relu, gelu, tanh, sigmoid, elu
  bias: false

training:
  algo: sgd  # Only 'sgd' is supported
  epochs: 5000
  batch_size: 4096
  lr_w: 5e-4  # Learning rate for SGD
  loss: mse

logging:
  eval_every_cycle: true
  save_checkpoints: true
